html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Urbanist', sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}
